* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary: #EBE3D5;
    --bg-secondary: #F3EEEA;
    --txt-primary: #776B5D;
    --txt-secondary: #B0A695;
    --txt-button: #F8F7F4;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: #F8F7F4;

    margin: 0;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: var(--txt-primary);
}

/* Header Start */
header {
    display: inline;
}

.logo-container {
    display: flex;
    background-color: var(--bg-primary);
}

.logo {
    display: flex;
    align-items: center;
    margin: 0 25px;
    gap: 20px;
    padding: 15px;
}

.logo img {
    width: 30px;
    height: auto;
}
.logo h1 {
    color: var(--txt-primary);
}

nav {
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: var(--bg-secondary);
}

nav ul {
    display: flex;
    margin: 0 40px;
    gap: 60px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--txt-primary);
}

.account {
    display: flex;
    align-items: center;
    gap: 20px;
}

#logButton {
    padding: 7px;
    width: 100px;
    border: none;
    border-radius: 8px;
    background-color: var(--txt-primary);
    color: var(--bg-secondary);
    border: 2px solid var(--txt-primary);
}

#regButton {
    padding: 7px;
    width: 100px;
    border: 2px solid var(--txt-primary);
    border-radius: 8px;
    background-color: var(--bg-secondary);
    color: var(--txt-primary);
    font-weight: 600;
}
/* Header End */

/* Content Start */
.find {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.findProperty {
    width: 100%;
    height: 40px;
    text-indent: 2rem;
    border: 1px solid #B0A695;
    border-radius: 8px;
    margin: 20px 40px 0px 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1) inset;
}

::placeholder {
    color: var(--txt-secondary);
}

/* CAROUSEL START */
.carousel {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.slider {
    width: 80%;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, .2);
}

.slides {
    width: 500%;
    height: 600px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 600px;
}

.navigation-manual {
    position: absolute;
    width: 76%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    background-color: #D9D9D9;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #B9B8B8;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 76%;
    justify-content: center;
    margin-top: 40px;
}

.navigation-auto div {
    background-color: #D9D9D9;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #B9B8B8;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #B9B8B8;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #B9B8B8;
}
/* CAROUSEL END */

/* CARD START */
.recomendation-title{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.card .card-content {
    border-radius: 10px;
    width: 325px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 16px rgba(0,0,0,.25);
}

.card-content img {
    border: 2px solid var(--txt-primary);
    border-radius: 10px;
    margin-top: 25px;
    width: 275px;
    height: 140px;
}

.card h2 {
    font-size: 24px;
    font-weight: bold;
    color: var(--txt-primary);
}

.card p {
    font-size: 12px;
}

.card .price {
    font-size: 14px;
    font-weight: 600;
    color: var(--txt-secondary);
}


.card button {
    background-color: var(--txt-primary);
    color: var(--txt-button);
    width: 100px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    margin-top: 8px;
}
/* CARD END */

/* RANGE START */
.ranged {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 100px;
}

.ranged-title {
    margin-top: 40px;
}

.ranged-img {
    border-radius: 999px;
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
}

.ranged-img img {
    width: 100px;
}
/* RANGE END */

/* LEADS & CUSTOMER SERVICE START */
.leads-customer-service {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 40px;
}

.leads-container {
    width: 645px;
    height: 300px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 0 16px rgba(0, 0, 0, .25);
}

.leads-img {
    width: 40%;
    display: flex;
    align-items: center;
    order: 2;
}

img {
    width: 220px;
}

.leads-content {
    order: 1;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    margin: 30px;
}

.leads-content h3 {
    color: var(--txt-primary);
    font-size: 24px;
    font-weight: bold;
}

.leads-content p {
    color: var(--txt-primary);
    font-size: 20px;
    font-weight: 500;
}

.leads-content button {
    margin-top: 10px;
    border: 0;
    background-color: var(--txt-primary);
    color: var(--txt-button);
    font-size: 18px;
    font-weight: 500;
    height: 40px;
    width: 180px;
    border-radius: 10px;
}
/* LEADS & CUSTOMER SERVICE END */

/* REVIEW START */
.review {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 40px;
}

.review-container {
    width: 350px;
    height: 250px;
    box-shadow: 0 0 16px rgba(0, 0, 0, .25);
    border-radius: 20px;
    overflow: hidden;
}

.review-content {
    display: flex;
    text-align: center;
    align-items: center;
    height: 70%;
    font-size: 16px;
}

.review .user {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    height: 30%;
    background-color: var(--bg-primary);
    color: var(--txt-primary);
}

.user img {
    background-color: var(--txt-secondary);
    border-radius: 999px;
    width: 45px;
    margin-left: 20px;
}
/* REVIEW END */

/* FOOTER START */
footer {
    background-color: #E6E6E6;
    display: flex;
    justify-content: space-around;
    gap: 100px;
}
.social-media {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #797878;
    margin: 40px;
}

.title-footer h2 {
    font-size: 30px;
    font-weight: 600;
    color: #797878;
}

.social-media .content {
    display: flex;
    gap: 30px;
}

.footer-icon {
    width: 50px;
    height: 50px;
}

.about {
    display: flex;
    flex-direction: column;
    margin: 40px;
    gap: 20px;
}

.about .content {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    margin-bottom: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    margin: 40px;
    gap: 20px;
}

.contact .content {
    display: flex;
    flex-direction: column;
}

.content li {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #797878;
    font-size: 24px;
}